[2016-12-02 20:14] henriklundgren opened #5 "Feature request: asArray()"
Would be nice to have asArray() as well.

[2016-12-03 00:37] evanshortiss commented on #5
@henriklundgren nice idea. Would you be able to provide some pseudo/sample code for how you'd like this to work?

I think the current `asJson` would work for some scenarios, but `asArray` could ensure the result is an Array and not an Object. For example, this is currently possible:

[code]

But neither of these check that the parsed entry is truly and Object or an Array. So were you thinking this

[2016-12-03 04:53] henriklundgren commented on #5
Atm I do;

[code]

[code]

[2016-12-13 15:01] evanshortiss commented on #5
@henriklundgren I see, would you be opposed to doing the following:

[code]

and then this module could expose an _asArray_ function, and your code would be like so:

[code]

If this doesn't work for you then perhaps a function named _asCommaSeparatedArray_ could be added. Thoughts?

[2016-12-14 09:31] henriklundgren commented on #5
I believe csv's is more or less defacto standard to pass ArgumentList,
at least thats how I pass lists to the cli applications I use on daily basis.
I am reluctant to change that unless you are able to convince me.

[2016-12-14 17:44] evanshortiss commented on #5
I'm with you, just trying to figure out the best overall approach.

JSON in environment variables is a little weird for sure, and many CLI tools just denote arrays using comma or space characters like you say. So perhaps we add a new function to `env-var` like so:

[code]

[code]

Thoughts?

[2016-12-14 22:47] evanshortiss commented on #5
Actually, just _asArray(',')` is fine, since we can also add `asJsonArray()` which will implement my original suggestion.

[2016-12-15 03:51] henriklundgren commented on #5
Appreciate the follow ups,

I guess that works,
though,
for completeness sake,
may I through out a third alternative,

[code]

[2016-12-15 05:36] evanshortiss commented on #5
@henriklundgren can you explain the need for `type` with an example of what the environment variable should be for each?

My understanding of your example is that `type` would determine how `env-var` does the parsing, but for `json` there's no need for a delimiter, right?

I think we're almost there on figuring out a solid approach.

[2016-12-15 08:53] henriklundgren commented on #5
Yes, `delimiter` would loose its meaning if `json`.

I guess mainly my attempt to avoid polluting the method name scope,
with names that means the same on face value level.
I.e. take a list of values (any) and turn it in to a javascript list (array).

[code]

[2016-12-15 17:25] evanshortiss commented on #5
Gotcha, I'm thinking we need 3 functions:

* asJsonObject (This is not related to this issue, but I need it)
* asJsonArray (Is somewhat related to this issue, will be needed in the future)
* asArray([delimiter])

I don't think "type" is necessary right now based on this discussion.

I can start on this later, unless you already have something done? 😄

[2016-12-15 22:36] evanshortiss commented on #5
Released in version 2.4. Let me know how it is @henriklundgren  😄

[2016-12-16 06:36] henriklundgren commented on #5
Thank you, works great, I can finally get rid of my little helper function. :tada:

[2016-12-16 06:36] #5 closed

[2016-12-16 15:09] evanshortiss commented on #5
Great! TypeScript definitions are also available 🎉

[2017-10-17 13:37] rasdaniil opened #10 "Doesn't work in the browser anymore because of node fs call"
Hi!
Version 3.0 now requires fs to be present and it stops it from working in the browser via webpack (at least without applying magic)

https://github.com/evanshortiss/env-var/blob/46ae1a7f5e559554b08a9fa6b9e5e31794c6e08a/lib/variable.js#L58

Instead of reading the accessors directory maybe it would be possible just to keep a list of accessors in a variable..

Thanks for the effort

[2017-10-18 22:22] evanshortiss commented on #10
@rasdaniil interesting, I did not think this module would be used in the browser! Are you using it with browserify or webpack and injecting some `process.env`?

What is your use case if you don't mind me asking?

[2017-10-18 23:10] evanshortiss commented on #10
@rasdaniil can you try `npm install evanshortiss/env-var#browser-fix` adn let me know if it resolves your issue? If so I can publish it. I've tested with browserify here and have it working as shown in this screenshot, but want to make sure it's fixed for your setup too:

![screen shot 2017-10-18 at 15 48 29](https://user-images.githubusercontent.com/1303687/31746908-9a73190e-b41e-11e7-8573-507b61

[2017-10-20 04:56] evanshortiss commented on #10
@rasdaniil think all should be good now if you install `npm install env-var@3.0.3`

[2017-10-20 04:56] #10 closed

[2017-10-20 06:32] rasdaniil commented on #10
Hi!
Thanks a lot for reply! I've just now got round to checking my email
I'll give it a try shortly

[2017-10-20 16:47] evanshortiss commented on #10
@rasdaniil awesome - did something similar before, but didn't use this module! Also, my previous comment should have stated version `3.0.2`

[2017-11-15 15:10] MikeyBurkman opened #13 "Feature Request: Int/Float Arrays?"
Would be sweet to see `.asIntArray()` or `asFloatArray()`.

[2017-11-15 16:49] evanshortiss commented on #13
Yes sir @MikeyBurkman 👍

[2017-12-26 08:30] xavierchow commented on #5
Do you guys think it's a good idea to add trim for the asArray, because there might be spaces in the csv format env var for readability, e.g. `COLOR="red, greeb, blue"`

[2017-12-26 16:20] evanshortiss commented on #5
@xavierchow I'd considered that, but decided against it to keep things simple. Might be able to support it via an option though.

[2018-02-20 20:14] evanshortiss commented on #13
@MikeyBurkman closing this. Feel free to PR when necessary!

[2018-02-20 20:14] #13 closed

[2018-04-27 13:26] mwakaambrose opened #19 "Question: There is no documentation of where to place the env file or how to load it"
Could anybody provide and clarity on how to go about this?

[2018-05-11 01:23] jwulf opened #20 "Install fails on Node 10"
The version of nan in the dependencies of leveldown causes a failure during installation, with this error during node-gyp build:

[code]

https://github.com/nodejs/nan/issues/504#issuecomment-385296082

[2018-05-11 01:25] jwulf commented on #20
Doh! Sorry, wrong repo. :-)

[2018-05-11 01:25] #20 closed

[2018-06-18 12:53] hhravn opened #21 "feature request: asEnum(['list', 'of', 'valid, 'values'])"
... or maybe `env.get('VARIABLE').required().asString().oneOf(['list', 'of', 'valid, 'values'])`

We have a few places where we do a second iteration of validation. Would be nice to have this all taken care of by `env-var` ;)

[2018-06-18 19:20] evanshortiss commented on #19
@mwakaambrose this module does not use an environment file. It reads environment variables in the system, or variables loaded by a module such as dotenv (this uses files).

If you're not too familiar with the concept here's an example on a Linux/Unix style machine command line. I set an environment variable and use it in a node program to print out `"Hello, ${NAME_VARIABLE}"`

[code]

This variabl

[2018-06-18 19:20] #19 closed

[2018-06-18 19:37] evanshortiss commented on #21
@hhravn this is something I thought of before, but wasn't 100% decided on. The main goal of this module is to ensure variables load with correct typings and I was concerned that this extends the scope too much.

Doing `.asString().oneOf` would be more complex due to the module design right now. I like the idea of `asEnum()` though since it's a reasonably common use case.

Do you plan to make a PR?

[2018-06-26 18:46] evanshortiss commented on #21
Thanks @hhravn. Released as version 3.3.0

[2018-06-26 18:46] #21 closed

[2018-10-23 17:06] gunar opened #23 "Feature: required() if process.env.NODE_ENV != 'test'"
Would you be willing to implement it? I can send a PR too if you need me to

[2018-10-23 18:13] evanshortiss commented on #23
@gunar  it sounds like you'd like to be able to have the `require` function behave differently based on a specific condition - in your case that condition is the value NODE_ENV?

Would you mind providing a code example of how you would like to see this feature work?

[2018-10-25 17:21] gunar commented on #23
@evanshortiss My unit tests require files that require the `config.js` file, which forces me to have the env vars set in order for tests to pass.

Unit tests don't depend on any environment variable (e.g. AUTH_TOKEN), but I still want to use `env-var` :heart:

---

### Code example

[code]

[code]

[code]

[2018-10-25 22:14] evanshortiss commented on #23
I understand now. I don't think `NODE_ENV=test` is standard so I would be very cautious adding it to `env-var` since people will not expect that behaviour, right?

I have some thoughts:
1. Use stubs or mocks in your tests. This is probably the best choice in general.
1. Modify the `config.js` to change behaviour in test mode.
1. Add a new feature to `env-var`.
1. Use dependency injection - I list

[2018-10-25 22:19] evanshortiss commented on #23
### option 4

[code]

Then in the test:

[code]

Or in real code:

[code]

[2018-10-27 00:55] evanshortiss commented on #23
@gunar let me know your thoughts

[2018-11-15 21:12] greenkeeper[bot] opened #27 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.12.8` to `10.12.9`.

🚨 [View failing branch](https://github.com/evanshortiss/env-var/compare/master...evanshortiss:greenkeeper%2F%40types%2Fnode-10.12.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node i

[2018-11-28 04:07] #27 closed

[2019-03-14 22:08] evanshortiss commented on #23
@gunar, check out the new "required()" function behavior. It can support this now.

[2019-03-14 22:55] gunar commented on #23
Thanks @evanshortiss 	!

[2019-03-14 22:56] gunar commented on #23
[code]
Very smart.

[2019-04-01 05:57] shawnmclean opened #39 "Ability to override process.env"
In a case of using Create-React-App, it seems they are doing something funky with their `process` variable. That is, if you access process  via require or import, it will be null. So this lib will never get the env vars set in by this app.

Would you mind adding an extra param for `get(envVar, default, container)` that allows us to pass in our own `process.env` as the 3rd param?

I could do a PR

[2019-04-01 17:20] evanshortiss commented on #39
That's interesting. I've only used `create-react-app` a few times so never came across this. Nice find.

If we just removed [this line](https://github.com/evanshortiss/env-var/blob/master/env-var.js#L3) would the problem be fixed?

Or would a better solution be to change the module behaviour so it works like so:

[code]

This would be a major version bump of course, and would mean we could remove

[2019-04-01 20:00] evanshortiss commented on #39
@shawnmclean want to PR the removal of the `require` I'll merge and release it as a MINOR release.

[2019-04-08 22:26] evanshortiss commented on #39
@shawnmclean #42 should solve your issue. It also changes the `env.mock` function name to something more appropriate so developers know they can use it to create `env` instances that read from whatever object they need, not just `process.env`

[2019-04-09 02:21] evanshortiss commented on #39
@shawnmclean I'd still welcome a PR on previous master to release as a patch for 3.x so if you have something I'd marge it into a 3.x branch and make a release 👍

[2019-04-11 17:05] evanshortiss commented on #39
Closing this @shawnmclean. Feel free to reopen if you need

[2019-04-11 17:05] #39 closed

[2019-04-23 04:37] motss opened #45 "I see TypeScript but none is written in TypeScript nor ES Modules"
I really hope to see this package to be written in ES Modules for tree shakable reason.

[2019-04-23 15:37] evanshortiss commented on #45
@motss this module supports TypeScript, but is not exporting ES Modules. Node.js support for ES Modules is still [not stable](https://nodejs.org/api/esm.html) in v11.14.

Are you using this module in a web application so you need to minimise bundle size?

There seems to be ways to work around this using Babel,Rollup,Webpack etc. toolchains. Is this something you're familiar with and could provide

[2019-04-23 16:25] evanshortiss commented on #45
One thing I wonder. If this is converted to ES Modules, importing the `get` function, e.g `import { get } from 'env-var';` would import all getters (e.g `asString()` too).

So would other changes be necessary to optimise for tree shaking?

[2019-04-24 04:00] motss commented on #45
You can only export a variable, a function, or a class in a module. When you mention getter, unless it is a static getter nothing will be allowed to be exported. It does not work like that.

For functions, if the function you export depends on another function in another module, it will be included as part of the export.

Hope this helps.

[2019-04-24 23:07] evanshortiss commented on #45
`get` is a function exported by `env-var`. I'm not talking about generic getters 😄

OK, so that's an issue right? If you do

[code]

Will the tree shaking include:

* `get`
* `asString`

or will it include:

* `get`
* And all of these - https://github.com/evanshortiss/env-var/blob/master/lib/variable.js#L65-L112

I guess I'm asking "how smart is tree shaking" in modern JS tools?

[2019-05-17 00:11] moltar opened #51 "URL validity"
I understand that the library is using `is-url` under the hook. But I think that package is a bit too simplistic.

This is a valid URL.

[2019-05-20 15:26] evanshortiss commented on #51
@moltar agreed, this came up recently and I never actioned it. It seems like the `valid-url` module might be a better option since it seems to work with database URLs.

[2019-05-20 15:33] evanshortiss commented on #51
I can make the change in the next 24 hours, but feel to PR if you like. Things I think need to be done are:

1. Use the `valid-url` module
2. Add tests for a few types of URL
3. Bump major version

I was thinking it might be worth supporting a protocol function/argument so users can say `asUrlString('http')`, but I think we can leave that out.

[2019-05-20 15:41] evanshortiss commented on #45
@motss any thoughts on this? Would you be interested in doing a little investigation on it. If not I can close this until it becomes more pressing.

[2019-05-20 15:41] #45 closed

[2019-05-20 16:09] moltar commented on #51
Seems like `valid-url` is not well maintained. Last release 6 years ago. And 12 open issues.

Why not Node's `url` [built-in package](https://nodejs.org/api/url.html)?

From the docs:

The only "cons" I can think of is that it would need bundling for the front-end.

But I am not sure if the `env-var` is targetting front-end too?

The benefit of using `url` is that it could then return the actual U

[2019-05-20 16:58] evanshortiss commented on #51
Good to hear you agree!

Oh man, I totally overlooked that. The module already uses core `url`. Yeah, let's just do that 🎉

Could explore this in a separate issue 👍

[2019-05-20 17:54] moltar commented on #51
Ok, I tried switching to `url`, but it turns out that almost anything is a valid URL.

I've tried supplying:

 - `null`
 - `undefined`
 - `1`
 - `/`
 - `asdasd`

to `parseUrl` method and it never throws.

I guess these are technically valid according to spec?

So, then the question is how useful that is?

Thoughts?

[2019-05-20 18:08] evanshortiss commented on #51
Jeez. Not really useful, right?

Maybe it's possible to use the new URL API in JS spec? Though it would require a polyfill in Node.js 8 and below.

This works for example in Node.js 10+:

[code]

But these will fail:

[code]

[2019-06-14 14:02] gabrieloczkowski opened #56 "asArray should accept env-variable also with one element"
https://github.com/evanshortiss/env-var/blob/ae09f18b8bd45ed3562d532eebabb30a30cc575e/lib/accessors/array.js#L5-L13

Current behaviour:
`"value"` - throws error because of missing delimiter (bad)
`"value,"` - returns `["value,"]` (bad)

Expected result for both cases should be `["value"]`. That can be fixed by removing lines 8-10.

[2019-06-14 14:14] gabrieloczkowski commented on #56
Created PR:
https://github.com/evanshortiss/env-var/pull/57

[2019-06-14 14:20] tomsquest commented on #56
Same for non-existing and empty environment variables.

Currently, this throws : `process.env.EMPTY_VAR = ""; env.get("EMPTY_VAR").asArray())`.
Examples: https://repl.it/repls/WastefulHotpinkConfig

@gabrieloczkowski do you think your PR should/will handle an empty var ?

BTW, I was exactly, at the same moment, doing a test in a Repl for it! :)

[2019-06-14 14:50] gabrieloczkowski commented on #56
@tomsquest after consideration I decided to handle empty vars (result `[]`) as it looks more proper way.
We can finish it together if you want to help ;)

[2019-06-14 15:11] gabrieloczkowski commented on #56
I added unit tests for changed logic.

[2019-06-14 15:55] evanshortiss commented on #56
I never saw your comment in #16 @caccialdo, sorry about that!

I'm good with this PR. Nice work @gabrieloczkowski

[2019-06-14 20:54] gabrieloczkowski commented on #56
@evanshortiss Since PR is merged we can close?

[2019-06-14 22:43] evanshortiss commented on #56
Released in 5.0.0, thank you! 😄

[2019-06-14 22:43] #56 closed

[2019-06-14 22:44] evanshortiss commented on #51
@moltar this is improved in release 5.0.0. Now using the built-in URL class 😄

Feel free to reopen if it's still an issue.

[2019-06-14 22:44] #51 closed

[2019-08-07 10:53] greenkeeper[bot] opened #67 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.5` to `3.0.6`.

🚨 [View failing branch](https://github.com/evanshortiss/env-var/compare/master...evanshortiss:greenkeeper%2Fcoveralls-3.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devDependency of t

[2019-08-07 23:53] #67 closed

[2019-08-08 06:28] greenkeeper[bot] opened #69 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.7.0` to `12.7.1`.

🚨 [View failing branch](https://github.com/evanshortiss/env-var/compare/master...evanshortiss:greenkeeper%2F%40types%2Fnode-12.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a

[2019-08-08 18:19] #69 closed

[2019-08-27 00:22] todofixthis opened #71 "Feature: ability to add custom accessors"
As a developer, I would like to define custom accessors, so that I can work with env vars in formats specific to my application's requirements.

For example:

[code]

Proposed acceptance criteria:
- A developer can call `from()` and provide an optional object as a second parameter.  The object defines additional accessors for any value returned by that instance's `get()`.
- If the name matches an

[2019-08-27 08:46] evanshortiss commented on #71
@todofixthis I like this, there's a guide in the README for making a PR adding custom accessors, but sometimes they are application specific so this is great 👍

Will take a look at the PR

[2019-09-01 23:37] todofixthis opened #74 "Remove `raiseError` accessor param"
relates to #71 (see https://github.com/evanshortiss/env-var/pull/72#issuecomment-526960469 )

As a developer, I want my accessor to throw an exception rather than having to call `raiseError()` when the incoming value is invalid, so that I don't have to think about how env-var's internals work.

Remove the `raiseError` parameter from accessors.  An accessor should be able to simply throw an excepti

[2019-09-02 00:45] todofixthis commented on #71
Per https://github.com/evanshortiss/env-var/pull/72#issuecomment-526772161 modifying the acceptance criteria so that extra accessors are provided as a parameter to `from()` rather than using a method to mutate the object state.

[2019-09-03 09:05] #74 closed

[2019-09-04 23:01] todofixthis opened #76 "Update Husky configuration"
When running pre-commit hooks, the following warning is displayed:

[code]

[2019-09-05 13:14] #71 closed

[2019-09-09 08:59] evanshortiss commented on #76
Thanks for highlighting this. Addressed in master and 5.1.0 👍

[2019-09-09 08:59] #76 closed

[2019-11-15 06:56] xuo opened #83 "Feature request: A way to check for empty values"
As far as i can tell, there currently doesn't seem to be a way to check if a value is empty or not - which seems like a basic feature for a library like this.

Especially when working with `.env.example` files you sometimes run into issues where someone might forget to fill out some values - having a way to ensure that the original value (before type coercion) is not empty, would be awesome.

I've

[2019-11-18 19:21] evanshortiss commented on #83
@xuo does using `required` not work for your use case?

[code]

Maybe you can provide a code example of the behaviour you'd like?

[2019-11-18 21:04] xuo commented on #83
Let's say i have a environment file that i copied, but i forgot to fill out a value - so the the key exists but the value is empty

[code]

This would pass the `.required()` check and return a empty string

[code]
Ideally `.required()` itself would either check if the string is empty or there would be another optional chainable function after `.required()` like `.notEmpty()` which would throw a ap

[2019-11-18 21:54] evanshortiss commented on #83
I see what you mean @xuo, thanks for the explanation.

I feel like this is the correct solution. If a variable is required it should be a non-empty (i.e length >= 1) string in `process.env`. Maybe some recent contributors have an opinion:

@todofixthis @shawnmclean @rmblstrp, any objections to `required()` being changed to throw if a variable is defined as an empty string?

[2019-11-19 00:51] todofixthis commented on #83
That works for me.

I ran into a similar situation working on a Python library that has some functionality similar to env-var.  I created a filter that would reject incoming "empty" values... but all filters allow `null` by default, which caused problems for some users.  I ended up [adding a parameter](https://github.com/todofixthis/filters/blob/2.0.2/filters/simple.py#L526-L530) controlling wheth

[2019-11-20 20:26] evanshortiss commented on #83
@todofixthis that's good feedback since you've been bitten by something similar before, thank you!

@xuo let's make the change so that `required()` throws an error if the variable is set to an empty string. Do you want to open a PR?

[2019-11-22 01:22] #83 closed

[2019-11-25 23:56] greenkeeper[bot] opened #87 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.13` to `12.12.14`.

🚨 [View failing branch](https://github.com/evanshortiss/env-var/compare/master...evanshortiss:greenkeeper%2F%40types%2Fnode-12.12.14).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/nod

[2019-12-04 18:05] #87 closed

[2020-02-02 06:28] kenberkeley opened #95 "Property 'required' does not exist on type 'IPresentVariable'. ts(2339)"
**Describe the bug 🐛**
As title.

**To Reproduce 📝**
Just copy the code from https://github.com/evanshortiss/env-var#variable

[code]

**Expected behaviour 🤷‍♂️🤷**
Should not complain about `Property 'required' does not exist on type 'IPresentVariable'. ts(2339)`

**Screenshots 📷**
![image](https://user-images.githubusercontent.com/13287948/73604204-d95d9080-45e0-11ea-9019-ab3438de63fa.png)

**Env

[2020-02-04 15:58] evanshortiss commented on #95
@kenberkeley ah so this is a README error. If you put a default value, i.e "bad-secret" in this case, then `required` is not available since a default value was provided. Do you want to submit a README patch like this?

[code]

Or do you think the current behavior is problematic?

[2020-02-04 17:26] evanshortiss opened #96 "Add a "example()" function"
**Is your feature request related to a problem? Please describe.**
The idea comes from issue #95. Perhaps it would be helpful to provide an example value, without having to provide a default.

**Describe the solution you'd like**
A `.example('sample-value')` function that is a noop, but assists code readability. The example value could also be used by error messages.

[2020-02-04 17:56] evanshortiss commented on #95
Of course, it can also be changed in the typings so you can call it since I don't think it would have any major side-effect and is probably safer.

[2020-02-07 22:23] evanshortiss commented on #95
@kenberkeley I will fix this in 6.x coming soon. Leaving the issue open until that time.

[2020-02-07 22:24] kenberkeley commented on #95
🙏🙏🙏

[2020-02-13 17:46] evanshortiss commented on #96
Added in 6.0.0

[2020-02-13 17:46] #96 closed

[2020-02-13 17:46] evanshortiss commented on #95
@kenberkeley fixed in 6.x

[2020-02-13 17:46] #95 closed

[2020-02-19 11:58] joh-klein opened #101 "default('') === undefined but should be an empty string"
**Describe the bug 🐛**
If `default` is an empty string `undefined` is returned.

**To Reproduce 📝**
[code]
**Expected behaviour 🤷‍♂️🤷**
`POOL_SIZE === ''` should be true, not false

**Environment (please complete the following information) 💻:**
 - OS: macOS 10.15.2
 - Runtime node.js
 - Version 12.16.1

[2020-02-21 12:05] gimbo opened #102 "Types for extra accessors suggest they can't be used with default() or required() (though they can)"
**Describe the bug 🐛**

In TypeScript, if I attempt to use an accessor defined via the `extraAccessors` machinery in conjunction with `default` or `required`, TypeScript complains; in strict mode at least, it's a compilation error.

It's possible to work around this with `as any`, but perhaps the type definitions could be fixed so that's not necessary.

When I first noticed this, I concluded that

[2020-02-21 22:25] evanshortiss commented on #102
Nicely spotted. I can take a look at this one, though feel free to PR or post ideas here if you have any.

The typings for `extraAccessors` were a bit of a pain and I should spend some more time on them.

[2020-02-21 22:28] evanshortiss commented on #101
This is a strange one.

Do you think there's a valid reason for setting default to an empty string instead of undefined?

Both are false-like values so doing things like below would work regardless.

[code]

Would like to know your thoughts 😀

[2020-02-21 23:06] gimbo commented on #102
Thanks. I don't have any notion of what to do to address this other than make the return types of `asRequired`, etc. just be `any`, which is hardly ideal. I was about to add a comment saying "on second thoughts I think maybe this is a silly bug report" on that basis, but perhaps better experts than I can find a better way... 🙂

[2020-02-24 09:38] joh-klein commented on #101
Thanks for looking into it. I will gladly share my thoughts:
We are mainly using env-var in the configuration of our node servers. And part of that configuration are paths (url paths and file paths). So for example

[code]
[code]

Two other things:
- I would always expect, that `.asString()` would return a type string.
- I would ALWAYS expect, that, whatever I put into `.default()`, will be return

[2020-02-24 17:30] evanshortiss commented on #101
All env-var functions return either `Type` or `undefined`, where `Type` is String, Array, Object, Number or whatever is defined by the function being called, e.g `asString()`. I can't see a good reason to return an empty string for `asString()` if the variable is not set and no default is defined. Returning the empty string would then raise the question of  "do we return an empty object for `asJso

[2020-02-27 17:04] joh-klein opened #103 ".asIntPositive/Negative both true for 0"
To quote from the docs:

Performs the same task as asInt(), but also verifies that the number is positive (greater than zero).

Performs the same task as asInt(), but also verifies that the number is negative (less than zero).

This is very close to what the [Wikipedia entry says about integers](https://en.wikipedia.org/wiki/Integer#Order-theoretic_properties) with the important addition, that zer

[2020-02-28 19:56] #103 closed

[2020-02-29 06:32] evanshortiss commented on #103
@joh-klein included in v6.0.2 release 😄

[2020-02-29 06:32] evanshortiss commented on #101
Fixed by #106

[2020-02-29 06:32] #101 closed

[2020-03-02 17:23] evanshortiss commented on #102
@gimbo I believe I have a fix for this. Will have an update tomorrow.

[2020-03-03 00:34] evanshortiss commented on #102
@gimbo published a fix in 6.0.3

[2020-03-03 00:34] #102 closed

[2020-03-03 11:14] joh-klein opened #108 "TS Error"
[code]

**Environment (please complete the following information) 💻:**
 - OS: macOS
 - Runtime node.js
 - Version 12.16.1

[2020-03-03 11:15] joh-klein commented on #108
reduced package.json:

[code]

[2020-03-03 15:49] evanshortiss commented on #108
Kind of annoyed my tests compiled without flagging this. Thanks for the report and your patience.

[2020-03-03 18:41] evanshortiss commented on #108
@joh-klein can you try your code with my open PR by running `npm install evanshortiss/env-var#typings-fix` and then compiling your project?

I recreated your issue locally and resolved with those changes, but would like if you could also do a quick test before I merge the PR.

[2020-03-04 06:35] moltar commented on #108
Got this issue too.

You can find a failing CI example and the code base at: https://github.com/ScaleLeap/config/pull/14/checks?check_run_id=484203823

Thanks.

[2020-03-04 06:36] moltar commented on #108
I can confirm that this PR fixes the problem.

Thanks!!

[2020-03-04 09:15] joh-klein commented on #108
@evanshortiss works! Thanks for the quick fix!

[2020-03-04 19:24] evanshortiss commented on #108
Thanks to you both! Releasing 6.0.4 in a few mins 🙏

[2020-03-09 12:23] gimbo commented on #102
Just got round to checking this out, and I can report that it looks good at my end! :-) Many thanks.

[2020-03-26 08:40] WuglyakBolgoink opened #111 "is it possible to use nested settings in "from""
Hi,

is it possible to get value from nested json file if I use `env.from({...})`?

Example:

[code]

Currently I have an error: `EnvVarError: env-var: "API_BASE_URL.DEVELOP" is a required variable, but it was not set`

What I do:

[code]

[2020-03-28 01:18] evanshortiss commented on #111
Currently, no this isn't supported. The `from` function expects an Object similar to `process.env` will be passed.

In your case here, would it make more sense to have a separate set of files like:

* develop.env.json
* develop.env.json

[2020-03-28 01:20] evanshortiss commented on #111
By this I mean key-value pairs where the value is a string.

[2020-03-28 22:22] WuglyakBolgoink commented on #111
Hallo @evanshortiss !
yes... I think it will be better to have separate configs too. thank you!

[2020-03-28 22:22] #111 closed

[2020-03-29 13:28] Brigadier1-9 opened #112 "Explain chained method in order to implement a verbose mode"
I think env-var is brilliant and it is my lightweight 'go-to' solution for (not surprisingly) environment variable reading.

However, one thing I like our node code to do is output what environment variables they are reading, and what values they are using (eg: from process.env or from a supplied default)

It seems a bit pointless putting in code like this every time:
`if (process.env.RETRIES) con

[2020-03-31 16:42] evanshortiss commented on #112
I like this idea! I had considered adding some logging with the `debug` module before, but decided against it since I didn't want to add a dependency - your solution here is a good way to optionally support it 👍

In terms of the implementation, how about making it work similar to `required` and `convertFromBase64`? Those functions set boolean flags [(see here)](https://github.com/evanshortiss/env-

[2020-03-31 16:43] evanshortiss commented on #112
Or as you say, default it to `console.debug`. We might just want to prefix logs with `env-var` so they're easy to search.

[2020-04-04 03:58] Brigadier1-9 commented on #112
Great! Thanks for the steer, that was a big help. Having dabbled a little more, I was wondering if a slightly different approach would be better.

The issue (having thought about it) with the chained 'explain' is that it would be easy to miss - what if, somewhere fifty lines down, one of my team forgot to put '.explain' on a .get call. There would always be that niggling doubt in the back of my mi

[2020-04-04 12:33] Brigadier1-9 commented on #112
And one final thought - what if I use a couple of environment vars to optionally control the behaviour - for example:
ENV_VAR_DEBUG=true
ENV_VAR_TRUNC=30

The first is intended to enable debug mode (defaulting to console.debug), so no need for the developers to invoke the complex constructor - but the ops team can still enable if they need to see what is going on, without having to fiddle the code

[2020-04-08 00:40] evanshortiss commented on #112
Yeah, I like this. It's like a global on/off switch. Initially I was opposed to the `ENV_VAR_DEBUG`, but I think this is a great use case - `no need for the developers to invoke the complex constructor - but the ops team can still enable if they need to`

I'd rather avoid `ENV_VAR_TRUNC` though. Developers can enforce that in the `explainer` they pass if necessary.

So end result is something like

[2020-04-09 11:14] gimbo opened #114 "Using multiple extra accessors causes type errors arising from union types"
**Describe the bug 🐛**

In TypeScript, if I attempt to use two extra accessors with different return types, the types for the computed values seem to be a union over the return types of all of the extra accessors, rather than just the return type of the accessor in use.

(Related: those types also include `undefined`, even in cases where the value is `required`, which seems wrong — but that's a se

[2020-04-09 11:17] gimbo commented on #114
One other thing: built-in accessors don't seem to suffer from this; e.g. this works, even I include `asEmail` and `asZero` as extra accessors:

[code]

[2020-04-09 22:21] evanshortiss commented on #114
@gimbo thanks for this report. Seems like I messed up the types! Can you try the dev branch with your code `npm install evanshortiss/env-var#dev`?

I believe the test [here](https://github.com/evanshortiss/env-var/pull/115/files#diff-ddf91fea90bbcae8448ca279d3722939R76) verifies your use case is fixed.

[2020-04-09 23:34] evanshortiss commented on #114
@gimbo OK, can you try now? I had to work out a kink with `required()` 😄

[2020-04-10 08:40] moltar opened #116 "Add generic type to asEnum"
Would be great to have a generic type available for `asEnum` method.

https://github.com/evanshortiss/env-var/blob/7ff513820f8650aed1370cef681200c5c299cc04/env-var.d.ts#L120

Should be:

[code]

This would allow to pass arrays with custom types, e.g. string unions.

[2020-04-13 18:58] evanshortiss commented on #112
@Brigadier1-9 I just realised my example uses `ENV_VAR_DEBUG` too, but I agree with your idea that we can implement that logic internally 😄

Do you want to work on a PR for this?

[2020-04-13 18:59] evanshortiss commented on #116
Neat idea @moltar. Interested in making a PR?

[2020-04-13 19:01] evanshortiss commented on #114
@gimbo I'll probably go ahead and merge this shortly if I don't hear back from you. I'm pretty certain it addresses the bug and is working as expected now 😄

[2020-04-13 19:01] evanshortiss commented on #114
Ref #115

[2020-04-14 09:45] gimbo commented on #114
@evanshortiss Hi Evan - didn't get chance to look at this over the weekend but I've just just checked and it does indeed seem to be fixed for my use case. The `undefined`s are still there but the `number`/`string` clash is gone. Thanks!

[2020-04-14 15:05] evanshortiss commented on #114
@gimbo I've fixed the `undefined` now also, thank you!

[2020-04-14 15:10] #116 closed

[2020-04-14 18:50] #114 closed

[2020-04-14 18:51] evanshortiss commented on #114
Will make a patch release in the next few hours.

[2020-04-21 09:05] moltar opened #119 "ExtenderType, ExtenderTypeOptional do not satisfy the constraint"
**Describe the bug 🐛**

I think 34759d2eb3d96602be372537b0e0392e1d03ae7d introduced a bug to TS definitions.

[code]

**To Reproduce 📝**

Build failure:

https://github.com/ScaleLeap/config/pull/44/checks?check_run_id=602773264

But also just inspecting the `env-var.d.ts` will display the errors in VS Code.

**Expected behaviour 🤷‍♂️🤷**

No errors.

**Screenshots 📷**

<img width="1163" alt="Screen

[2020-04-21 18:29] evanshortiss commented on #119
Thanks for reporting this an apologies for the bugged release. I'll need to look into why my tests didn't run into this.

[2020-04-21 18:55] evanshortiss commented on #119
@moltar can you share your tsconfig?

I'm not getting this error after using TS 3.8 and reinstalling all modules.

[2020-04-21 19:00] evanshortiss commented on #119
Nevermind, I recreated the issue in a separate repo.

[2020-04-21 19:36] evanshortiss commented on #119
@moltar can you test the 6.x branch with your application? I believe it resolves the issue.

[2020-04-21 23:18] moltar commented on #119
@evanshortiss thank you for the prompt action!

I have tested the build with `6.x` branch and it seems to work well and TypeScript compiles.

[2020-04-23 13:02] evanshortiss commented on #119
Likewise, thank you for the report.

I'll need to look into the testing, since I want these things to be caught by CI! It seems like I need a separate project or something to fully test, since the sample I use in this repo clearly isn't doing the trick.

[2020-04-23 13:02] #119 closed

[2020-04-23 15:22] satazor opened #121 "Expose accessors so they can be composed"
**Is your feature request related to a problem? Please describe.**
I would like to access the internal accessors, so that I can create new ones, while using the built-in accessors internally.

**Describe the solution you'd like**
Exposing the accessors, like `env.accessors`.

**Describe alternatives you've considered**
At the moment, I'm importing `lib/accessors/xxx`, which is far from ideal, as t

[2020-04-24 08:53] EntropyAu opened #122 "Release 6.1.1 to NPM"
Many thanks for supporting this package! I was hoping to check if version 6.1.1 will be published to NPM (currently 6.1.0 is published, which causes build failures with Typescript).

[2020-04-24 13:51] evanshortiss commented on #122
Oh wow @EntropyAu my bad. I was traveling the past two days and didn't notice my publish failed when I tried last time - it's been a crazy few days!

I have successfully published now. Thank you for alerting me to this issue.

[2020-04-24 13:51] #122 closed

[2020-04-26 06:05] moltar opened #124 "Add better type checking"
**Is your feature request related to a problem? Please describe.**

**Problem**: lack of tests for types can introduce defects.

This is a spillover from the discussion in #117 and defects from #119.

**Describe the solution you'd like**

Add testing for types.

Found this interesting library today: [expect-type](https://github.com/mmkal/ts/tree/master/packages/expect-type#readme)

**Describe alte

[2020-04-26 06:12] moltar commented on #112
I like the idea for "debug" capability.

But I think having to add `explain` to every call is a bit verbose. On the other hand does allow for granularity, in case we report any secrets.

I'm still leaving towards the global logger approach though.

[2020-05-12 15:37] evanshortiss commented on #112
On balance I think the [debug module](https://www.npmjs.com/package/debug) is best here.

It's common practice in the node community and it keeps the API of this module small.

I do like the proposed format of messages from above comments:

[code]

I'd be happy to accept a PR if anyone's interested in it. I can get around to it in a week or so if not.

[2020-05-12 16:00] evanshortiss commented on #124
@moltar thanks for raising this, `expect-type` looks pretty nice, though I think `tsd` is more mature. Have you used both? What do you think? It would be fantastic to be able to more confidently release with improved checks like these so I'd be very grateful for a PR in this area 🙏

I'm conflicted on rewriting to TS since it narrows the audience of potential contributors, and I think features such

[2020-05-12 16:04] evanshortiss commented on #121
@satazor I just want to clarify. Are you trying to use the internal accessors in one you plan to pass to [extraAccessors](https://github.com/evanshortiss/env-var#extraaccessors)?

[2020-05-12 16:10] satazor commented on #121
@evanshortiss correct

[2020-05-13 12:36] evanshortiss commented on #121
@satazor gotcha, seems reasonable. Would you like to PR this?

[2020-05-13 12:57] satazor commented on #121
I will put this into my TODO list, however don't wait on me and if anyone want's to tackle this please go ahead.

[2020-05-14 07:55] moltar commented on #124
Actually haven't used either. Just saw it, and that reminded me to open this issue :)

That's fair!

[2020-05-15 22:37] just-chillin commented on #124
Honestly, it would be nice if you didn't use any libraries. One of the major reasons I choose env-var is because it doesn't have any dependencies that may break down the line.

[2020-05-18 13:03] evanshortiss commented on #124
@just-chillin agreed. This would be a devDependency so it won't affect users of the module. I'm much more dubious about adding regular dependencies.

[2020-05-31 15:38] nirsky opened #126 ".asUrlString() attaches "/" to url"
Hey,

As the title says.
Not sure if this by design or a bug, but I think it's very confusing.

example:
[code]

[2020-06-03 09:15] DigiPie opened #127 "Typo in repo description 'sanatization'"
**Describe the bug 🐛**

There's a typo in the repository description:

"Verification, **sanatization**, and type coercion for environment variables in Node.js"

**To Reproduce 📝**
N/A

**Expected behaviour 🤷‍♂️🤷**
It should be 'sanitization' instead.

**Screenshots 📷**
N/A

**Environment (please complete the following information) 💻:**
N/A

**Additional context**
Thanks for writing and maintaining

[2020-06-03 11:22] evanshortiss commented on #127
@DigiPie, good eye. I fixed it now. I'd argue it should be "sanitisation" with an "s" too, but I'll leave it with a "Z" for now haha!

[2020-06-03 11:22] #127 closed

[2020-06-03 11:46] evanshortiss commented on #126
Internally `asUrlString()` uses the [url module from Node.js core](https://nodejs.org/api/url.html#url_constructor_new_url_input_base) (which implements WHATWG URL), and that adds the trailing slash.

Here's an example from Node.js v14.3.0.

[code]

I feel like it makes sense to add the trailing slash, since in reality you're making a request to `/`. Perhaps this should be noted in the README?

[2020-06-04 12:31] nirsky commented on #126
Probably worth mentioning. I spent a couple of minutes trying to understand why my request is failing.

[2020-06-05 13:52] evanshortiss commented on #126
@nirsky gotcha, I think a PR in docs reminding developers to use the URL module/class when working with URLs is a good idea, e.g instead of:

[code]

doing this:

[code]

Would you like to PR it?

[2020-06-06 19:38] evanshortiss commented on #121
@satazor this will be available in 6.2.0

[2020-06-06 19:39] evanshortiss commented on #126
@nirsky this will be addressed in docs in 6.2.0

[2020-06-06 19:39] #126 closed

[2020-06-08 14:16] evanshortiss commented on #112
@Brigadier1-9 I got around to an implementation of this that I think satisfies your requirements. Could you take a look at the 6.2.0 branch? The TLDR is that a `logger` can now be passed to `from()` to enable logging support.

[2020-06-16 09:36] #121 closed

[2020-06-16 09:36] #112 closed

[2020-06-16 16:00] ineentho opened #134 "Feature request: asRegExp()"
Sometimes it it would be useful to be able to parse an environment variable into a regular expression. A common use case for me is a pattern for whitelisted CORS hosts.

My suggested api would be:

[code]

where the environment variable should be passed to the first (pattern) parameter of the RegExp constructor and the flags as the second parameter.

Including regular expression support would be n

[2020-06-18 13:04] evanshortiss commented on #134
Agreed this would be a useful feature. I wonder...would it make sense to make `asString()` accept these args?

[2020-06-18 17:33] ineentho commented on #134
IMO a separate method would make more sense. `asString()` implies that the result is a string, while `asRegExp()` would make it clear that the result is a RegExp.

[2020-06-19 14:45] evanshortiss commented on #134
Oh sorry, I misunderstood. The returned result is a `RegExp` instance! It definitely makes sense to be a separate function as you say.

Happy to accept a PR for this 👍

[2020-06-21 03:36] DigiPie opened #135 "Add 'example/README.md'"
**Is your feature request related to a problem? Please describe.**
Currently, the README.md at the project root is quite long and verbose. For me, and maybe others, it is quite hard to sieve through all the information.

**Describe the solution you'd like**
I was thinking of creating an 'example/README.md' which will:

- Provide brief details on the example files available under 'example/'
- Conta

[2020-06-26 14:19] evanshortiss commented on #135
100% agree. Every time I open the README I think "oh no, it's gotten even more bloated" 😆

An `examples/README.md` is a great idea. Allows the primary README focus on the API, and just provide links to sections of `examples/README.md`.

I'd love to see a PR for this.

[2020-06-30 16:15] DigiPie commented on #135
Alright I'll work on it sometime next week and raise the PR then 😄

[2020-07-27 12:06] evanshortiss commented on #134
Included in v6.3.0

[2020-07-27 12:06] #134 closed

[2020-10-21 13:36] evanshortiss commented on #135
@DigiPie did you ever get to look into this? I'm prepping a 7.x release, so if you have anything worked on I'd be happy to see if we can work it into 7.0.0.

[2020-10-24 05:38] DigiPie commented on #135
@evanshortiss oh this slipped my mind 😅 I'll work on it today and raise a PR soon.

[2020-11-10 17:17] #135 closed

[2021-01-25 08:16] structinfo opened #142 "Add description() function"
**Is your feature request related to a problem? Please describe.**
It would be helpful to provide a description for each environment variable.

**Describe the solution you'd like**
A .description('Specifies that and that') function which text may be used in error messages as well as enhance code readability.
Moreover if a .help() function will be implemented (see separate issue) this description t

[2021-02-08 13:21] evanshortiss commented on #142
@structinfo this certainly could be helpful. Do you think it could be used to replace the current `example()` or should be used in conjunction with it?

Currently if a developer uses the `example()` they get output like this on error:

[code]

With `description('This value is used to alert an admin...')` should this become similar to the following example?

[code]

[2021-04-22 16:33] jerome-fox opened #143 "The number accessors are too permissive"
**Describe the bug 🐛**
The number accessors are too permissive.
The `parseInt` and `parseFloat` functions allow strings beginning with numbers.

**To Reproduce 📝**
[code]

**Expected behaviour 🤷‍♂️🤷**
Sending '123hello' or '192.168.1.1' should throw an exception

**Additional context**
The solution could be to check if the parsed value is stringify, it should be the same as the input value.
I've a

[2021-05-01 12:28] evanshortiss commented on #143
@jerome-fox sure, happy to take a look at the PR!

A regex might do the trick too? Something like:

[code]

[2021-05-05 08:29] jerome-fox commented on #143
@evanshortiss I made the PR #144
A regex do the trick too.

My solution has one problem : if a number starts or ends with some `0` characters

`00234` will be parsed has `234` but as string it will be `234` and not `00234`
we should trim the string to remove unnecessary `0` characters (but keep one `0` if the number is `0` or `0.xxx`)
I put aside this problem because I think that we do not really

[2021-05-16 13:20] evanshortiss commented on #143
Thanks @jerome-fox will create a patch release shortly!

[2021-05-16 13:20] #143 closed

[2021-06-15 16:15] janbaykara commented on #142
+1 to this. For example, I might let people know where to go to pick up the credentials (e.g. "Check your account settings for the API key: https://airtable.com/account").

I think example is neat. I'd add this as a separate thing.

It'd be amazing if, somehow, all of this metadata around env vars could be pulled out into a `.env.template` with the examples / descriptions inlined as comments, cate

[2021-06-22 20:08] mdesousa opened #145 "asEnum should accept readonly T[]"
I would like to be able to write the code below in typescript. However, `asEnum` does not accept a `readonly T[]` value

[code]

[2021-06-23 18:15] evanshortiss commented on #145
@mdesousa can you let me know it using this branch works:

[code]

I tested with the code you provided and it worked.

[2021-08-18 23:52] RodrigoDornelles opened #146 "add asMailString()"
**Is your feature request related to a problem? Please describe.**
is something interesting, there is an email validation when string, I would liken [...]

**Describe the solution you'd like**
do a regex validation over email, someone can refine it in the future and check IDN and DNS

**Additional context**
[code]

[2021-08-20 09:48] evanshortiss commented on #146
@RodrigoDornelles this is a good suggestion. I've had to do this before, though I was lazy and used `asString()`.

The one issue with this is how strict the implementation is. There are a few good suggestions in this [StackOverflow post](https://stackoverflow.com/questions/201323/how-can-i-validate-an-email-address-using-a-regular-expression) and [this one too](https://stackoverflow.com/questions/

[2021-08-20 12:13] RodrigoDornelles commented on #146
i think so, i'm not very familiar with regex and am typescript's noob, but i'll try anyway... carefully review my PR!

[2021-10-13 08:37] she11sh0cked opened #147 "Configure default behavior / Support dotenv-defaults"
**Is your feature request related to a problem? Please describe.**
I'm using [dotenv-defaults](https://www.npmjs.com/package/dotenv-defaults) in my projects. This allows you to have your default values in a file called `.env.defaults`, which are overriden by the `.env` file. Now because of that the defaults are actually handled by this package and therefore I have to use the `required` method of y

[2021-10-28 20:16] jcloutz-radix opened #150 "Duplicate identifier causing broken build with typescript."
**Describe the bug 🐛**
EnvVarError is exported twice from the env-var.d.ts file.

[code]

**To Reproduce 📝**
build a typescript project with the latest version.

**Expected behaviour 🤷‍♂️🤷**
no broken builds would be nice 😃

**Environment (please complete the following information) 💻:**
 - OS: Ubuntu
 - Runtime Node.js
 - Version 7.1.0

[2021-10-29 08:58] #150 closed, assigned to nobody

[2021-10-29 09:24] moltar opened #152 "Duplicate identifier 'EnvVarError'."
**Describe the bug 🐛**

Got the following errors on the latest version (v7.1.0):

[code]

**To Reproduce 📝**

N/A

**Expected behaviour 🤷‍♂️🤷**

Not to get TS build errors.

**Screenshots 📷**

N/A

**Environment (please complete the following information) 💻:**

N/A

**Additional context**

N/A

[2021-10-29 09:45] #152 closed, assigned to nobody

[2021-10-31 11:51] evanshortiss commented on #152
@Lioness100 all good. CI **should** have caught it!

[2022-05-10 12:24] she11sh0cked commented on #147
@evanshortiss Any update on this?

[2022-05-11 14:13] abdulrahman1s opened #153 "Deno Support"
It would be cool if we could use this library in Deno. :smile:

[2022-05-12 02:04] abdulrahman1s commented on #153
I don't think it'll be hard to even automate the task to support deno.
since the `process.env` is exactly like `Deno.env.toObject()`
I could create PR for you once the typescript version gets merged if you don't mind.

[2022-07-01 13:43] ES41 opened #154 "TypeError: env.get is not a function"
**Describe the bug 🐛**
getting this error when trying to get environment variable using the package
[code]
**To Reproduce 📝**
see code snippets added in `Additional context`

**Expected behaviour 🤷‍♂️🤷**
variable `PORT` having value and not crush the proccess

**Environment (please complete the following information) 💻:**
 - OS: MAC
 - Runtime NodeJS
 - Version 16.15.1

**Additional context**
`ind

[2022-07-01 18:25] evanshortiss commented on #154
Can you try `import env from 'env-var' instead? That seems to work for me.

Seems like it's related to using ESM via `"type":"module"`. I haven't dived into that ESM module mess yet, but seems like a quick update to the README would be helpful?

[2022-07-02 07:43] ES41 commented on #154
seems to fix the issue !

from `README.md`:
[code]
should be
[code]

[2022-07-05 20:43] #154 closed

[2022-07-06 18:47] smblee opened #155 "Don't default export `from(process.env)` for environments that don't have `process`"
Trying to use this lib with vite which uses `import.meta.env` as the default location for env vars and I get the following error

[code]

and looks like it's happening because the module exports `from(process.env)` by default and its failing since `process` doesn't actually exist within the vite environment i am in (sveltekit).
https://github.com/evanshortiss/env-var/blob/3f5689ed13b307e4389b7dcf6

[2022-07-07 22:53] evanshortiss commented on #147
@she11sh0cked apologies for the delay. I'm after making some progress on a TypeScript rewrite recently. I will factor this into it too.

[2022-07-13 21:14] evanshortiss opened #156 "v8.0.0"
Preparing for a v8.0.0 release.

I will push to the `typescript-refactor` branch in the next few days with a working codebase that handles some or all of these items:

- [ ] Rewrite module in TypeScript
- [ ] Support for non Node.js/React environments #155
- [ ] Deno support #153
- [ ] Support a `description` function #142
- [ ] Add option to make all variables required by default #147
- [ ] Updat

[2022-07-14 16:21] evanshortiss commented on #156
Notes:

* Removed ability to override built-in accessors
* Set minimum engine version to Node.js 12.x
* Changed extension API. Now requires invoking the extension via `usingExtension(fn)`
* The `accessors` property is no longer attached to `EnvInstance`  (the return value of `from()`)
* Removed the default exported "convenience" logger. Developers now must create a logger using the exported functi

[2022-08-09 03:12] bigen1925 commented on #146
Hi guys,

Thank you for providing this simple and awesome library, I love this. :D

And I will be also happy if this feature will be implemented, but there seems to be no progress in months, so I opened a PR.

https://github.com/evanshortiss/env-var/pull/158

I'm happy to be reviewed.

[2022-08-15 12:09] PizzaPartyInc opened #159 "Custom validation extension/custom accessor before `as` check."
Hey!

I know there is already an option to add custom accessors, but those are only going at the end of the evaluation chaing. I'm interested in sort of a middleware approach.

An example scenario would be - We have a .env file like this:
[code]

For app to be used, placeholder must be replaced with an actual value, which shall be evaluated as a specific enum. So, a custom check is needed in addit

[2022-08-30 23:14] evanshortiss commented on #159
@PizzaPartyInc (great username BTW), can you expand on why you need this feature?

I'm leaning towards thinking this isn't a problem for env-var to solve. I would generally expect variable names to be defined and known in advance, and env-var is purely used to read and coerce them.

[2022-08-31 22:27] evanshortiss commented on #146
Released this in version 7.2.0. Thank you all.

[2022-08-31 22:27] #146 closed

[2022-09-07 10:28] PizzaPartyInc commented on #159
In our concrete case, we have `.env` file (not under source control) and `.env.template` file (under source control).

In the resulting `.env` file we can have sensitive values (usernames, passwords, connection strings, etc..), and we obviously do not want to store such values under source control. So, values in `.env.template`  (which is used to create `.env` for local development) are defined as

[2022-09-08 07:34] ted-dino opened #162 "Client side."
I don't sure if this has been asked before, but can this package access environment variables on the client side? I tried to print the env variable to the console, but it said it was `undefined`, even though I could see what it printed in the terminal. I know I'm terrible at explaining, but maybe the image i've included may help.

![bad-at-explaining](https://user-images.githubusercontent.com/8464

[2022-09-12 06:00] evanshortiss commented on #162
This seems to be related with how Next.js handles `process.env`. It says [here in the docs ](https://nextjs.org/docs/basic-features/environment-variables#exposing-environment-variables-to-the-browser) that they inline the value to the browser. They also explicitly state that "dynamic lookups will not be inlined".

Based on my understanding, this means that if your code is:

[code]

Next.js compile

[2022-09-12 06:03] evanshortiss commented on #162
BTW @ted-dino, your explanation was perfectly good! Let me know if my answer is helpful.

[2022-09-14 07:14] ted-dino commented on #162
worked like a charm. thank you @evanshortiss

[2022-09-14 13:09] evanshortiss commented on #162
That's great! I referenced this issue for the next release. Will add a doc section for this issue.

[2022-09-14 13:09] #162 closed

[2022-10-12 02:28] linearcombination commented on #155
I am running into this as well as I am using vite with svelte (not sveltekit).